.button__content {
    --easing-curve: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    box-shadow: 8px 8px 0 0 #000;
    transition: box-shadow 200ms var(--easing-curve),
        transform 200ms var(--easing-curve);
}

.button:hover .button__content {
    box-shadow: 0 0 0 0 #000;
    transform: translate(8px, 8px);
}
